.hero {
  background-color: #fafafa;
  padding: 40px;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-content {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

.hero-image {
  width: 100%;
  max-width: 200px;
}

.imac-image {
  width: 100%;
  margin-left: 30px;
}

.hero h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--color-text);
}

.hero p {
  color: var(--color-text-secondary);
}

.hero-button {
  background-color: var(--color-link);
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 980px;
  margin: 1rem 0 5rem 0;
}

.hero-button:hover {
  background-color: var(--color-link-hover);
}
