.loader-container {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100svh;
  left: 0;
  top: 0;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
.category-title {
  padding: 5rem 0;
  text-align: center;
  font-size: 4rem;
}
.loader {
  width: 50px;
}
.item-list-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 100%;
}
@media (max-width: 900px) {
  .item-list-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .item-list-container {
    grid-template-columns: 1fr;
    max-width: 320px;
  }
}
.search-page-container {
  min-height: 90vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.search-page-container h1 {
  font-size: 2.5rem;
  margin-top: 6rem;
}
@media (max-width: 768px) {
  .category-title {
    padding: 5rem 0 2rem 0;
  }
}
