.apple-hero-wordmark {
  display: flex;
  align-items: center;
  gap: 10px;
}
.apple-hero-wordmark img {
  width: 26px;
  height: 26px;
}
.apple-hero-wordmark span {
  color: #fff;
  font-size: 28px;
  font-weight: 600;
}
.iphone-section {
  height: 50svh;
  background: url("../../../assets//iphone-14.jpg"), #000;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  position: relative;
  display: flex;
  align-items: start;
  justify-content: center;
}
.iphone-section .apple-hero-wordmark {
  position: absolute;
  top: 5vh;
}
@media (max-width: 768px) {
  .iphone-section {
    background: url("../../../assets/iphone14-bg-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
.section-container {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5px;
  gap: 5px;
}
.section-container a {
  height: 100%;
  flex: 1;
}
.section-left {
  height: 100%;
  background: url("../../../assets/homepod.jpg"), #000;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  flex: 1;
  display: flex;
  align-items: start;
  justify-content: center;
  position: relative;
}
.section-left .apple-hero-wordmark {
  position: absolute;
  top: 5vh;
}
.section-right {
  height: 100%;
  background: url("../../../assets/watch-series-8.jpg"), #000;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 60%;
  flex: 1;
  text-align: center;
  position: relative;
  display: flex;
  align-items: start;
  justify-content: center;
}
.section-right .apple-hero-wordmark {
  position: absolute;
  top: 3vh;
}
@media (max-width: 1400px) {
  .section-right {
    background-size: 80%;
  }
}
@media (max-width: 992px) {
  .section-right {
    background-size: 110%;
  }
}
@media (max-width: 760px) {
  .section-right {
    background-size: 130%;
  }
}
@media (max-width: 600px) {
  .section-container {
    display: flex;
    align-items: initial;
    justify-content: initial;
    flex-direction: column;
    height: 50vh;
  }
  .section-left {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .section-right {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
  }
}
