.checkout-header {
  border-bottom: 1px solid #111;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  margin: 4rem 0;
}

.checkout-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout-form {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.checkout-text {
  max-width: 500px;
}

.form-input-group {
  display: flex;
  flex-direction: column-reverse;
}

.form-input-group input {
  background: transparent;
  width: 100%;
  height: 45px;
  padding: 0 1rem;
  border: 1px solid #6e6e73;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

.form-input-group input:focus {
  outline: none;
  border-color: var(--color-link);
}

.form-input-group input:focus ~ label {
  color: var(--color-link);
}

.form-input-group label {
  color: #6e6e73;
}

form button {
  height: 45px;
  background-color: var(--color-text);
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: #424245;
}
.error-message {
  color: red;
  margin: -20px 5px;
}
.checkout-title {
  text-align: center;
}
