.section-products-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}
.section-products {
  max-width: 1000px;
  margin: 10rem auto;
}
.section-products h2 {
  margin-left: 80px;
  font-size: 3rem;
  margin-bottom: 5rem;
}
.section-products h2 span {
  color: var(--color-text-secondary);
  font-weight: 600;
}
.container-list {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  align-items: start;
}
@media (max-width: 900px) {
  .container-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .container-list {
    grid-template-columns: 1fr;
    max-width: 320px;
  }
}
