.section-products-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}
.section-products {
  max-width: 1000px;
  margin: 10rem auto;
}
.section-products h2 {
  margin-left: 80px;
  font-size: 3rem;
  margin-bottom: 5rem;
}
.section-products h2 span {
  color: var(--color-text-secondary);
  font-weight: 600;
}
.container-list {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  align-items: start;
  align-self: center;
  justify-content: center;
  justify-self: center;
}
